{% extends 'layouts/main.html' %}
{% block title %}Edit Artist{% endblock %}
{% block content %}
  <div class="form-wrapper">
    <form class="form" method="post" action="{{url_for('edit_artist_submission', artist_id=artist.id)}}" novalidate>
      {{form.hidden_tag()}}
      <h3 class="form-heading">Edit artist <em>{{ artist.name }}</em></h3>
      <div class="form-group">
        <label for="name">Name</label>
        {{ form.name(class_ = 'form-control', autofocus = true) }}
        {% if form.name.errors %}
          {% for error in form.name.errors %}
            <p class="alert alert-danger">{{error}}</p>
          {% endfor %}
        {% endif %}
      </div>
      <div class="form-group">
          <label>City & State</label>
          <div class="form-inline">
            <div class="form-group">
              {{ form.city(class_ = 'form-control', placeholder='City', autofocus = true) }}
            </div>
            <div class="form-group">
              {{ form.state(class_ = 'form-control', placeholder='State', autofocus = true) }}
            </div>
            {% if form.city.errors %}
              {% for error in form.city.errors %}
                <p class="alert alert-danger">{{error}}</p>
              {% endfor %}
            {% endif %}
            {% if form.state.errors %}
              {% for error in form.state.errors %}
                <p class="alert alert-danger">{{error}}</p>
              {% endfor %}
            {% endif %}
          </div>
      </div>
      <div class="form-group">
          <label for="phone">Phone</label>
          {{ form.phone(class_ = 'form-control', placeholder='xxx-xxx-xxxx', autofocus = true) }}

          {% if form.phone.errors %}
              {% for error in form.phone.errors %}
                <p class="alert alert-danger">{{error}}</p>
              {% endfor %}
          {% endif %}
        </div>

      <div class="form-group">
        <label for="genres">Genres</label>
        <small>Ctrl+Click to select multiple</small>
        {{ form.genres(class_ = 'form-control', placeholder='Genres, separated by commas', autofocus = true) }}
          {% if form.genres.errors %}
              {% for error in form.genres.errors %}
                <p class="alert alert-danger">{{error}}</p>
              {% endfor %}
          {% endif %}
      </div>
      <div class="form-group">
          <label for="genres">Facebook Link</label>
          {{ form.facebook_link(class_ = 'form-control', placeholder='http://', autofocus = true) }}
          {% if form.facebook_link.errors %}
              {% for error in form.facebook_link.errors %}
                <p class="alert alert-danger">{{error}}</p>
              {% endfor %}
          {% endif %}
      </div>
      <div class="form-group">
          <label for="genres">Image Link</label>
          {{ form.image_link(class_ = 'form-control', placeholder='http://', autofocus = true) }}
            {% if form.image_link.errors %}
              {% for error in form.image_link.errors %}
                <p class="alert alert-danger">{{error}}</p>
              {% endfor %}
            {% endif %}
      </div>
      <div class="form-group">
          <label for="genres">Website</label>
          {{ form.website(class_ = 'form-control', placeholder='http://', autofocus = true) }}
          {% if form.website.errors %}
              {% for error in form.website.errors %}
                <p class="alert alert-danger">{{error}}</p>
              {% endfor %}
          {% endif %}
      </div>
      <div class="form-group">
          <label>Seeking Venue</label>
          {{ form.seeking_venue(class_ = 'form-control', autofocus = true) }}
          {% if form.seeking_venue.errors %}
              {% for error in form.seeking_venue.errors %}
                <p class="alert alert-danger">{{error}}</p>
              {% endfor %}
          {% endif %}
      </div>
      <div class="form-group">
          <label>Seeking Description</label>
          {{ form.seeking_description(class_ = 'form-control', autofocus = true) }}
          {% if form.seeking_description.errors %}
              {% for error in form.seeking_description.errors %}
                <p class="alert alert-danger">{{error}}</p>
              {% endfor %}
          {% endif %}
      </div>
      {{form.submit(class='btn btn-primary btn-lg btn-block')}}
    </form>
  </div>
{% endblock %}